@use 'src/styles/vars';

.details {
  background: linear-gradient(to right, #96c4ff, #b3cdff, #cad7ff, #dee2fe, #eeeefe, #eeeefe, #eeeefe, #eeeefe, #dee2fe, #cad7ff, #b3cdff, #96c4ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;


  h1 {
    font-size: 50px;
    color: vars.$mainColor;

    @include vars.tablette {     
      font-size: 40px;
      text-align: center;
      margin-bottom: 5px;   
   }

    @include vars.mobile {     
      font-size: 30px;
      text-align: center;
      margin-bottom: 5px;   
   }
  }

  ul {
    margin: 1em;
    padding: 0;
    list-style: none;
    display: flex;

    @include vars.tablette {     
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;  
   }

    @include vars.mobile {     
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5px; 
      margin-top: 0; 
   }

    .portfolioList {
      font-size: 14px;
      padding: 1em;
      margin: 1em;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      @include vars.tablette {
        display: flex;     
        width: 27%;
        font-size: 17px;
        text-align: center;
        padding: 0.5em;
        margin: 0.4em; 
        align-items: center;
        justify-content: center;
          
     }

      @include vars.mobile {
        display: flex;     
        width: 27%;
        font-size: 12px;
        text-align: center;
        padding: 0.5em;
        margin: 0.4em; 
        align-items: center;
        justify-content: center;
          
     }

      &.active {
        background-color: vars.$mainColor;
        color: white;
        border-radius: 15px;
        font-weight: bolder;
      }
    }
  }

  .container{

    display: flex;
    width: 100%;
    
    
    .left {
      display: flex;
      flex: 1;
      height: 70vh;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      
      @include vars.tablette {
        display: flex;
        align-items: flex-start;
        margin-top: 120px;
        
        
          
     }

     @include vars.tablette-small {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      
      
        
   }

      @include vars.mobile {
        flex: 0;
          
     }
      
      img {
        width: 550px;
        height: 430px;
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 80px;
       


        @include vars.tablette {
          width: 380px;
          height: 280px;
          display: flex;
          align-items: flex-start;
            
       }

       @include vars.tablette-small {
        width: 380px;
        height: 280px;
        display: flex;
        align-items: center;
        
        
        
          
     }

        @include vars.mobile {
          display: none;
            
       }
      }
    }

    .right {
      display: flex;
      flex: 1;
      height: 80vh;
      width: 80vw;
      overflow: hidden;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      
      @include vars.tablette {
        width: 100%;
        
          
     }
      @include vars.mobile {
        width: 100%;
        text-align: center;
          
     }
      
      
      
        
        
        .content {
          width: 80%;
          height: 100%;
          font-size: 1rem;
          justify-content:center;
          align-items: center;
          flex-direction: column;
          margin-right: 2rem;
        


          @include vars.tablette {
            width: 90%;
            margin-right: 0;
            
              
         }
         
         @include vars.mobile {
          width: 100%;
          text-align: center;
          margin:2px;
          
            
       }

       @include vars.mobile-small {
        width: 100%;
        text-align: center;
        margin:2px;
        
          
     }

          
          
          .title {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            color: vars.$mainColor;
            font-weight: bold;
            margin-top: 1.5rem;

            @include vars.tablette {     
              font-size: 30px;
              text-align: center;
              margin-top: 1rem; 
           }

           @include vars.tablette-small {     
            font-size: 25px;
            text-align: center;
            

         }  

            @include vars.mobile {     
              font-size: 25px;
              text-align: center;
              margin-top: 0.5rem; 
           }
            
          }
          

          .details-title {
            color: rgb(255, 145, 0);
            font-size: 1.5rem;
            font-style: italic;
            letter-spacing: 1px;
            margin-top: 1.5rem;

            @include vars.tablette {     
              font-size: 23px;
              margin-top: 2rem;
              
              
           }

           @include vars.tablette-small {     
            font-size: 18px;
            margin-top: 1.5rem;
            
            
         }

            @include vars.mobile {     
              font-size: 18px;
              margin-top: 1rem;
              letter-spacing: normal;
              
           }
            
            
          }
    
          .details-content {
            font-size: 1.2rem;
            margin: 1rem;
            letter-spacing: 1px;

            @include vars.tablette {     
              font-size: 15px;
              margin: 0.5em;
              letter-spacing: normal;

           }  

           @include vars.tablette-small {     
            font-size: 14px;
            margin: 0.5em;
            letter-spacing: normal;

         }  

            @include vars.mobile {     
              letter-spacing: normal;
              font-size: 12px;
              margin: 0.5em;
           }  
          }

          .links {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            @include vars.tablette {
              width: 100%;
              height: 15%;
              text-align: center;
              justify-content: space-around;
              
              
              
           }

            @include vars.mobile {
              width: 100%;
              height: 15%;
              text-align: center;
              justify-content: space-around;
              
              
           }
  
            .button-link {
              display: flex;
              font-size: 1rem;
              margin: 1rem;
              margin-bottom: 10px;
              justify-content: center;
              align-items: center;
              text-align: center;
              min-width: 80px;
              width: 50%;
              height: 100%;
              color: white;
              background-color: vars.$mainColor;
              border: none;
              border-radius: 10px;
              font-weight: 500;
              cursor: pointer;
              padding: 0.8rem;

              @include vars.tablette {
                width: 100%;
                height: 50%;
                text-align: center;
                display: flex;
                justify-content: space-around;
                font-size: 18px; 
                padding: 5px;
                margin-top: 50px;
                
             }

             @include vars.tablette {
              width: 100%;
              height: 50%;
              text-align: center;
              display: flex;
              justify-content: space-around;
              font-size: 15px; 
              padding: 2px;
              margin-top: 30px;
              
           }

              @include vars.mobile {
                width: 45%;
                height: 50%;
                text-align: center;
                display: flex;
                justify-content: space-around;
                font-size: 12px; 
                padding: 1px;
                margin: 0;
                
             }
              
      
              &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                font-weight: 800;
                background: transparent;
                transform: scale(1.1);
                display: flex;
                border: 1px solid vars.$mainColor;
                color: vars.$mainColor;
                
        }
        }
        
  
        
      }
        } 
  
        
  } 
  }
}
