@use 'src/styles/vars';

.menu {
  width: 250px;
  height: 100vh;
  background-color: vars.$mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  @include vars.mobile {
    width: 150px;
    height : 350px;
    
    
 }

  &.active {
    right: 0;
  }

  ul{
    margin-right: 4em;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 30%;

    @include vars.mobile {
      font-size: 20px;
      height: 50%;
      margin-bottom: 1rem;
      
            
      
   }
    
   

    li {
      margin-bottom: 2em;
      

      a {
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
        
      }
    }
  }
}


