@use 'src/styles/vars';

.menu {
  width: 300px;
  height: 100vh;
  background-color: vars.$mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul{
    margin-right: 4em;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 30%;
    
   

    li {
      margin-bottom: 2em;

      a {
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
}


