@use 'src/styles/vars';

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  

  h1 {
    font-size: 50px;

    @include vars.tablette {     
      font-size: 40px;
      margin-top: 5px;
         
   }
    @include vars.mobile {     
      font-size: 35px;
      margin-top: 3px;
   }

    
  }

  ul {
    margin: 1em;
    padding: 0;
    list-style: none;
    display: flex;
    
    @include vars.tablette {     
      width: 100%;
      justify-content: center;
      align-items: center;
         
   }

    @include vars.mobile {     
      width: 100%;
         
   }

    .portfolioList {
      font-size: 16px;
      padding: 1em;
      margin: 1em;
      cursor: pointer;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include vars.tablette {
        display: flex;     
        width: 20%;
        font-size: 18px;
        text-align: center;
        padding: 0.5em;
        margin: 0.5em; 
        align-items: center;
        justify-content: center;
        
     }
      @include vars.mobile {
        display: flex;     
        width: 25%;
        font-size: 14px;
        text-align: center;
        padding: 0.5em;
        margin: 0.5em; 
        align-items: center;
        justify-content: center;
          
     }

      &.active {
        background-color: vars.$mainColor;
        color: white;
        border-radius: 15px;
        font-weight: bolder;
      }
    }
  }

  .container {
    width: 70%;
    height: 85%;
    max-height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
    @include vars.tablette {
      width: 90%;
      height: 80%;
      display: flex;
      justify-content: space-around;
      
     
            
   }
    @include vars.mobile {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      
     
            
   }
    


    .item {
      width: 25%;
      height: 30%;
      border-radius: 15%;
      margin: 2rem;
      display: flex;
      align-items:center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      text-align: center;

      @include vars.tablette {
        font-size: 22px;
        height: 180px;
        width:250px;
        text-align: center;
        margin : 1rem;
                                      
     }
      @include vars.mobile {
        font-size: 10px;
        height: 80px;
        width:130px;
        text-align: center;
        margin : 0.5rem;
        
         
              
        
     }

      .title {
        position: absolute;
        font-size: 1.2em;
        max-width: 90%;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15%;
        z-index: 1;
      }

      &:hover {
        background-color: vars.$mainColor;
        border-radius: 15%;
        cursor: default;
        
        img {
          opacity: 0.4;
          z-index: 0;
          
          
          
        }
      }
    }
  }
}
