@use 'src/styles/vars';

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  h1 {
    font-size: 50px;

    @include vars.mobile {     
      font-size: 35px;
      margin-top: 3px;
   }

    
  }

  ul {
    margin: 1em;
    padding: 0;
    list-style: none;
    display: flex;
    

    @include vars.mobile {     
      width: 100%;
         
   }

    .portfolioList {
      font-size: 16px;
      padding: 1em;
      margin: 1em;
      cursor: pointer;

      @include vars.mobile {
        display: flex;     
        width: 25%;
        font-size: 14px;
        text-align: center;
        padding: 0.5em;
        margin: 0.5em; 
        align-items: center;
        justify-content: center;
          
     }

      &.active {
        background-color: vars.$mainColor;
        color: white;
        border-radius: 15px;
        font-weight: bolder;
      }
    }
  }

  .container {
    width: 70%;
    height: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
    @include vars.mobile {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      
     
            
   }
    


    .item {
      width: 25%;
      height: 30%;
      border-radius: 15%;
      border: 1px solid pink;
      margin: 2rem;
      display: flex;
      align-items:center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include vars.mobile {
        font-size: 10px;
        height: 20%;
        width:30%;
        text-align: center;
        margin : 1rem;
        
         
              
        
     }


      h3 {
        position: absolute;
        font-size: 1.2em;
        max-width: 80%;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15%;
        z-index: 1;
      }

      &:hover {
        background-color: vars.$mainColor;
        border-radius: 15%;
        
        img {
          opacity: 0.4;
          z-index: 0;
          
        }
      }
    }
  }
}
