@use 'src/styles/vars';

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    
  }

  ul {
    margin: 1em;
    padding: 0;
    list-style: none;
    display: flex;

    .portfolioList {
      font-size: 14px;
      padding: 1em;
      margin: 1em;
      cursor: pointer;

      &.active {
        background-color: vars.$mainColor;
        color: white;
        border-radius: 15px;
        font-weight: bolder;
      }
    }
  }

  .container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;


    .item {
      width: 300px;
      height: 250px;
      border-radius: 15%;
      border: none;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;


      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15%;
        z-index: 1;
      }

      &:hover {
        background-color: vars.$mainColor;
        border-radius: 15%;
        img {
          opacity: 0.4;
          z-index: 0;
          
        }
      }
    }
  }
}
