$mainColor : darkblue;

$tablette-width: 1024px;

@mixin tablette {
  @media (max-width: #{$tablette-width}){
    @content
  }
}

$width:767px;


@mixin mobile {
  @media (max-width: #{$width}){
    @content
  }
}


