$mainColor : darkblue;

$tablette-width: 1024px;

@mixin tablette {
  @media (max-width: #{$tablette-width}){
    @content
  }
}

$width:767px;


@mixin mobile {
  @media (max-width: #{$width}){
    @content
  }
}


$height:568px;


@mixin mobile-small {
  @media (max-height: #{$height}){
    @content
  }
}

$tablette-height:768px;

@mixin tablette-small {
  @media (max-height: #{$tablette-height}){
    @content
  }
}
