@use 'reset';
@use 'vars';

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* scroll-snap-type: y mandatory;
  scroll-snap-stop: normal; */
 /*  scroll-behavior: smooth; */
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  
*/
