.app {
  height: 100vh;
  
  
  .sections {
    width: 100%;
    height: calc(100vh -70px);
    position: relative;
    top: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    
      
    > *{
      width: 100vw;
      scroll-snap-align: start;
      height: calc(100vh -69px);
      
      
    }
  }
}
