@use 'src/styles/vars';

.contact {
  background: linear-gradient(to right, #96c4ff, #b3cdff, #cad7ff, #dee2fe, #eeeefe, #eeeefe, #eeeefe, #eeeefe, #dee2fe, #cad7ff, #b3cdff, #96c4ff);
  display: flex;
  z-index: -1;
  

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    
    @include vars.tablette {
      margin:1rem;
      height: 100%;
      width: 100%;
     
      
      
      
  }
      @include vars.mobile {
      margin:0;
      height: 75%;
      width: 100%;
      border-right: 1px solid vars.$mainColor;
      
      
      
      
  }

      @include vars.mobile-small {
    height: 100%;
    width: 85%;
    margin-right: 5px;
    border-right: 1px solid vars.$mainColor;
    
    
  
}

    /* @include vars.mobile {
      
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
  } */

.propos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid vars.$mainColor;
  border-radius: 10%;
  width: 80%;
  height: 80%;
  text-align: left;

  @include vars.tablette {
    height: 85%;
    width: 85%;
    border-right: 1px solid vars.$mainColor;
    
        
}
    @include vars.mobile {
    height: 90%;
    width: 85%;
    border: none;
    
    
    box-shadow: none;
    border-radius: 0;
      
}

    @include vars.mobile-small {
  height: 95%;
  width: 85%;
  border: none;
  
  
  box-shadow: none;
  border-radius: 0;
  

}

  .avatar {
      
    width: 300px;
    height: 300px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
    background-color: none;
    

    @include vars.tablette {
      width: 250px;
      height: 250px;
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      
  }

    @include vars.tablette-small {
    width: 250px;
    height: 250px;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    
}

    @include vars.mobile {
      width: 100px;
      height: 100px;
      margin-left: 0;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
      
      
  }

  @include vars.mobile-small {
    width: 90px;
    height: 90px;
    margin-left: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    
    
}
  }

  .propos-paragraphe {

    color: vars.$mainColor;
    width: 80%;
    margin: 1rem;
    font-size: 1.3rem;
    line-break: auto;
    text-align: center;
    padding: 0.5rem;
    
    @include vars.tablette {
      width: 90%;
      margin: 10px;
      font-size: 16px;
      text-align: center;
      
  }

    @include vars.tablette-small {
      width: 90%;
      margin: 10px;
      font-size: 14px;
      text-align: center;
    
}

    @include vars.mobile {
      width: 90%;
      margin: 10px;
      font-size: 10px;
      text-align: center;
      
  }

    
  }
}
    
    
  }
  .right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;
    

      @include vars.tablette {
      margin:1rem;
      height: 100%;
      width: 100%;
      
      
  }
      @include vars.mobile {
      margin:0;
      height: 75%;
      width: 100%;
      
      
  }

      @include vars.mobile-small {
    height: 100%;
    width: 85%;
    margin-right: 5px;
  
}

    .contact-form {
      width: 50%;
      height: 80%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      position: relative;
      border: thick double vars.$mainColor;
      /* border-radius: 15%; */
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      

      @include vars.tablette {
        height: 60%;
        width: 85%;
        
    }

      @include vars.mobile {
        height: 90%;
        width: 85%;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    @include vars.mobile-small {
      height: 100%;
      width: 85%;
      border-radius: 0;
      border: none;
      box-shadow: none;
      
      
  }

  @include vars.tablette-small {
    height: 90%;
    width: 90%;
    
    
    
    
}





    h2 {
      font-size: 2rem;
      color: vars.$mainColor;
      font-weight: bold;
      position: absolute;
      top:0;
      margin-top: 15px;

      @include vars.tablette {
        margin-top: 15px;
        font-size: 30px;

    }

      @include vars.mobile {
        margin-top: 10px;
        font-size:1.8rem;

    }

    @include vars.mobile-small {
      margin-top: 3px;
      font-size:1.6rem;

  }

  
      
  }
      .contact-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1em;
        padding: 0;
        color: vars.$mainColor;

        @include vars.tablette {
          width: 70%;
          
          
      }
        @include vars.mobile {
          width: 80%;
          
      }

      .input {
        padding: 0.5rem;
        height: 100%;
        display: block;
        border: 1px solid vars.$mainColor;

        @include vars.tablette {
          padding:1px;
          
      }

        @include vars.mobile {
          padding: 2px;
          
        }
      }

        textarea {
          margin-top: 0;
          min-width: 30%;
          min-height: 30%;
          width: 100%;
          height: 150px;
          font-size: 14px;
          max-width : 450px;
          max-height : 150px;
          border: 1px solid vars.$mainColor;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
          @include vars.mobile {
            height:70px;
            
            
        }
        }

        .contact-label {
          font-size: 1.2rem;
          margin-bottom: 10px;
          

          @include vars.tablette {
            font-size: 22px;
            
        }

          @include vars.mobile {
            font-size: 13px;
            
        }
      }   
    }

      

      .button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: vars.$mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        margin-bottom: 1rem;
        font-size: 1em;
        bottom: 0;

        
      @include vars.tablette {
          font-size: 15px;
          
    }

      @include vars.mobile {
          font-size: 10px;
          
    }

      @include vars.mobile-small {
        font-size: 10px;
        margin-bottom: 0.3em;
        
    }
        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
        width: 70%;

        @include vars.tablette {
          font-size: 20px;
          margin-bottom: 10px;
          width: 100%;

      }

        @include vars.mobile {
          font-size: 11px;
          margin-bottom: 20px;
          width : 100%

      }
    }
  }
}
}
