@use 'src/styles/vars';

.contact {
  background-color: white;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;

    justify-content: center;
    align-items: center;

    @include vars.mobile {
      
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
   }

  

    img {
      
      width: 50%;
      height: 65%;
      margin-left: 1rem;
      margin-bottom: 2rem;
      border-radius: 5%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include vars.tablette {
        width: 300px;
        height: 400px;
        margin-left: 0;
        margin-top: 9px;
        display: flex;
        align-items: flex-start;
        
     }

      @include vars.mobile {
        width: 130px;
        height: 180px;
        margin-left: 0;
        margin-top: 30%;
        display: flex;
        align-items: flex-start;
        
     }
    }

    
  }
  .right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;

    @include vars.tablette {
      margin:1rem;
      height: 100%;
      width: 100%;
      
      
   }
    @include vars.mobile {
      margin:0;
      height: 95%;
      width: 100%;
      
      
   }

  

   

    .contact-form {
      width: 50%;
      height: 70%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      position: relative;
      border: 1px solid vars.$mainColor;
      border-radius: 10%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include vars.tablette {
        height: 60%;
        width: 90%;
        
        
     }

      @include vars.mobile {
        height: 85%;
        width: 90%;
        border-radius: 0;
        border: none;
        box-shadow: none;
        
        
     }

     h2 {
      font-size: 2rem;
      color: vars.$mainColor;
      font-weight: bold;
      position: absolute;
      top:0;
      margin-top: 15px;

      @include vars.tablette {
        margin-top: 15px;
        font-size: 30px;

     }

      @include vars.mobile {
        margin-top: 10px;
        font-size:1.8rem;

     }
  
      
  }
      .contact-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 1em;
        padding: 0;
        color: vars.$mainColor;

        @include vars.tablette {
          width: 70%;
          
          
       }
        @include vars.mobile {
          width: 80%;
          
       }

       .input {
         padding: 0.5rem;
         height: 100%;
         display: block;
         border: 1px solid vars.$mainColor;
         

         @include vars.tablette {
          padding:1px;
          
       }

        @include vars.mobile {
          padding: 2px;
          
       }
       }

        textarea {
          margin-top: 0;
          min-width: 30%;
          min-height: 30%;
          width: 100%;
          height: 150px;
          font-size: 14px;
          max-width : 350px;
          max-height : 150px;
          border: 1px solid vars.$mainColor;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
        }

        .contact-label {
          font-size: 1.2rem;
          margin-bottom: 10px;
          

          @include vars.tablette {
            font-size: 22px;
            
         }

          @include vars.mobile {
            font-size: 13px;
            
         }
        }
        
      }

      

      button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: vars.$mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        margin-bottom: 1rem;
        bottom: 0;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
        width: 70%;

        @include vars.tablette {
          font-size: 20px;
          margin-bottom: 10px;

       }

        @include vars.mobile {
          font-size: 11px;
          margin-bottom: 15px;

       }
      }
    }
  }
}
