@use 'src/styles/vars';

.contact {
  background-color: white;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 50vh;
      height: 60vh;
      margin-left: 4rem;
      margin-bottom: 2rem;
      border-radius: 5%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;

    h2 {
        position: absolute;
        font-size: 2rem;
        top: 0;
        margin-top: 80px;
        color: vars.$mainColor;
        font-weight: bold;  
    }

    .contact-form {
      width: 50%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      position: relative;
      border: 1px solid vars.$mainColor;
      border-radius: 10%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       
      .contact-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        
        

        font-size: 1.2rem;
        margin-bottom: 1.5em;
        padding: 0;
        color: vars.$mainColor;

        textarea {
          margin-top: 0;
          min-width: 30%;
          min-height: 30%;
          width: 100%;
          height: 100%;
          font-size: 14px;
          max-width : 300px;
          max-height : 250px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
        }

        .contact-label {
          margin-bottom: 0.5em;
        }
        
      }

      

      button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: vars.$mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        margin-bottom: 3rem;
        bottom: 0;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
        width: 70%;
      }
    }
  }
}
