@use 'src/styles/vars';

.contact {
  background-color: white;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;

    justify-content: center;
    align-items: center;

    @include vars.mobile {
      
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
   }

  

    img {
      
      width: 55%;
      height: 65%;
      margin-left: 1rem;
      margin-bottom: 2rem;
      border-radius: 5%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include vars.mobile {
        width: 130px;
        height: 180px;
        margin-left: 0;
        margin-top: 9px;
        display: flex;
        align-items: flex-start;
        
     }
    }

    
  }
  .right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;

    @include vars.mobile {
      margin:0;
      height: 100%;
      width: 100%;
      
      
   }

  

    h2 {
        position: absolute;
        font-size: 2rem;
        top: 0;
        margin-top: 80px;
        color: vars.$mainColor;
        font-weight: bold; 

        @include vars.mobile {
          margin-top: 10px;

       }
    
        
    }

    .contact-form {
      width: 50%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      position: relative;
      border: 1px solid vars.$mainColor;
      border-radius: 10%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include vars.mobile {
        height: 98%;
        width: 90%;
        border-radius: 0;
        border: none;
        box-shadow: none;
        
     }
       
      .contact-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 1.2rem;
        margin-bottom: 1.5em;
        padding: 0;
        color: vars.$mainColor;

        @include vars.mobile {
          width: 80%;
          
       }

        textarea {
          margin-top: 0;
          min-width: 30%;
          min-height: 30%;
          width: 100%;
          height: 150px;
          font-size: 14px;
          max-width : 300px;
          max-height : 150px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
        }

        .contact-label {
          margin-bottom: 0.5em;
          font-size: 1.2rem;

          @include vars.mobile {
            font-size: 12px;
         }
        }
        
      }

      

      button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: vars.$mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        margin-bottom: 1rem;
        bottom: 0;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
        width: 70%;
      }
    }
  }
}
