@use 'src/styles/vars';

.contact {
  background-color: white;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 55%;
      height: 75%;
      margin-bottom: 3rem;
      margin-left: 4rem;
      border-radius: 5%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        position: absolute;
        font-size: 2rem;
        top: 0;
        margin-top: 50px;
        color: vars.$mainColor;
        font-weight: bold;  
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-between;
      
      

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        margin-bottom: 0;
        padding: 0;

        &::placeholder {
          color: vars.$mainColor;
          font-style: italic
        }
      }

      textarea {
        margin-top: 0;
        min-width: 300px;
        min-height: 200px;
        font-size: 14px;
        max-width : 600px;
        max-height : 350px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &::placeholder {
          color: vars.$mainColor;
          font-style: italic;

          &:focus {
            display: none;
          }
        }
      }

      button {
        width: 150px;
        height: 40px;
        margin-top: 2em;
        color: white;
        background-color: vars.$mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
