@use 'src/styles/vars';

.intro {
 background-color: vars.$mainColor;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: white;
 font-size: 3em;
 position: relative;




    .presentation {
      
      font-size: 1.5em;
      font-weight: 500;
      width: 90%;
      height: 80%;
      opacity: 0.9;
      z-index: 2;
      display: flex;
      align-items: center; 
      justify-content: flex-start;
      flex-direction: column;

      @include vars.mobile {
        text-align: center;
        width: 100%;
        
     }

     @include vars.tablette {
      text-align: center;
      width: 100%;
      
   }
     
  

      .préambule {
        display: flex;
        color: white;
        font-style: italic;
        font-size: 0.5em;
        justify-content: center;
        align-items: center;
        margin-bottom: 6em;
        flex-direction: column;
        letter-spacing: 1px;
        opacity: 0.9;

        @include vars.tablette {
          font-size: 35px;
          width: 95%;
          line-height: 3rem;
          
       }

        @include vars.mobile {
          font-size: 18px;
          line-height: 2rem;
          width: 100%;
          letter-spacing: normal;
       }

       @include vars.mobile-small {
        font-size: 16px;
        margin-top: 0.4rem;
        letter-spacing: normal;
     }
       
      }        
      
      .name{
        font-size: 1.2em;
        margin-bottom: 0.2em;
        color: orange ; 
       
        
        @include vars.tablette {
          font-size: 90px;
          margin-top: 20px;
          
       }
        @include vars.mobile {
          font-size: 40px;
          margin-top: 3rem;
          
       }

       @include vars.mobile-small {
        font-size: 40px;
        margin-top: 0.8rem;
     }

      
      }

      .dev {
        font-size: 0.5em;
        font-style: italic; 

        @include vars.tablette {
          font-size: 35px;
          width: 100%;
          
       }

        @include vars.mobile {
          font-size: 17px;
       }

       @include vars.mobile-small {
        font-size: 14px;
     }
      
      }

      .anim {
        color: orange;
      }
      
      .ityped-cursor {
        color: orange;
        animation: blink 0.8s infinite;
        font-style: normal;
      }

      @keyframes blink {
        50%{
          opacity: 1;
        }

        100%{
          opacity: 0;
        }
          
      }
    }
   
 #videoBG {
  position:absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 99.8%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.7;
  border: none;
 }
 
}
    
  




