@use 'src/styles/vars';

.intro {
 background-color: vars.$mainColor;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: white;
 font-size: 3em;
 position: relative;




    .presentation {
      
      font-size: 1.5em;
      font-weight: 500;
      width: 90%;
      height: 80%;
      opacity: 0.9;
      z-index: 2;
      display: flex;
      align-items: center; 
      justify-content: flex-start;
      flex-direction: column;

      @include vars.mobile {
        text-align: center;
        width: 100%;
        
     }

     @include vars.tablette {
      text-align: center;
      width: 100%;
      
   }
     
  

      .préambule {
        display: flex;
        color: white;
        font-style: italic;
        font-size: 0.5em;
        justify-content: center;
        align-items: center;
        margin-bottom: 6em;
        flex-direction: column;
        letter-spacing: 1px;
        opacity: 0.9;

        p {
          animation-name: préambule;
          animation-duration: 3s;
  
          @keyframes préambule {
            0% {
              opacity: 0.1;
              transform: translateY(-400px);
            }
  
            50% {
              opacity: 0.6;
              transform: translateY(100px);

            }
            100% {
               opacity: 1;            
              
            }
          }
        }
        

        @include vars.tablette {
          font-size: 35px;
          width: 95%;
          line-height: 3rem;
          
       }

        @include vars.mobile {
          font-size: 18px;
          line-height: 2rem;
          width: 100%;
          letter-spacing: normal;
       }

       @include vars.mobile-small {
        font-size: 16px;
        margin-top: 0.4rem;
        letter-spacing: normal;
     }
       
      }        
      
      .name{
        font-size: 1.2em;
        margin-bottom: 0.2em;
        color: orange ;
        animation-duration: 3s;
        animation-name: appear; 

        @keyframes appear {
          0% {
            opacity: 0;
            transform: translateX(-50px);
            
          }
          10% {
            opacity: 0.1;
            
          }
          20% {
            opacity: 0.2;
            
          }
          30% {
            opacity: 0.3;
            
          }
          40% {
            opacity: 0.4;
            
          }
          50% {
            opacity: 0.5;
            transform: translateX(50px);
            
          }
          60% {
            opacity: 0.6;
            
          }
          70% {
            opacity: 0.7;
            
          }
          80% {
            opacity: 0.8;
            
          }
          90% {
            opacity: 0.9;
            
          }
          100% {
            opacity: 1;
            
          }

          
        }
       
        
        @include vars.tablette {
          font-size: 90px;
          margin-top: 20px;
          
       }
        @include vars.mobile {
          font-size: 40px;
          margin-top: 3rem;
          
       }

       @include vars.mobile-small {
        font-size: 40px;
        margin-top: 0.8rem;
     }

      
      }

      .dev {
        font-size: 0.5em;
        font-style: italic; 

        @include vars.tablette {
          font-size: 35px;
          width: 100%;
          
       }

        @include vars.mobile {
          font-size: 17px;
       }

       @include vars.mobile-small {
        font-size: 14px;
     }
      
      }

      .anim {
        color: orange;
      }
      
      .ityped-cursor {
        color: orange;
        animation: blink 0.8s infinite;
        font-style: normal;
      }

      @keyframes blink {
        50%{
          opacity: 1;
        }

        100%{
          opacity: 0;
        }
          
      }
    }
   
 #videoBG {
  position:absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.7;
  border: none;
 }
 
}
    
  




